.carousel .carousel-item {
    height: 580px;
    min-width: 100% !important;
}

.carousel-item:after {
    content:"";
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:rgba(0,0,0,0.4);
}

.carousel-caption {
    height: 100%;
}

.carousel-caption .row{
    width: 100%;
    padding: 30px 0;
}

.carousel-caption h2{
    text-transform: uppercase;
    font-family: 'ff-tisa-sans-web-pro', sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 2%;
    font-size: 40px;
    text-align: center;
    cursor: default;
}

.carousel-caption p{
    font-family: 'ff-tisa-sans-web-pro', sans-serif;
    font-weight: 200;
    font-size: 20px;
    text-align: center;
    margin-bottom: 5%;
    cursor: default;
}

.carousel-caption .img-affiche{
    height: 220px;
    width: 400px;
}

.carousel-caption .btn {
    background-color: #da1a32;
    color: white;
    margin-bottom: 5%;
}

.carousel-cards h2 {
    margin-top: 1%;
}