.bloc-actualites .header {
    background-image: -webkit-linear-gradient(right, #092d74, #061f50);
    width: 100%;
}

.bloc-actualites h2 {
    text-transform: uppercase;
    color: white;
    font-family: 'ff-tisa-sans-web-pro', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    padding: 2%;
    text-align: center;
    margin-top: 7px;
}

.bloc-actualites .filtre-actualites {
    list-style: none;
    padding-left: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 50%;
}

.bloc-actualites .filtre-actualites > label {
    padding: 20px 10px;
    margin-bottom: -1px;
    border-bottom: 2px solid transparent;
    color: #757575;
}

.bloc-actualites .filtre-actualites > li {
    display: inline-block;
}

.bloc-actualites .filtre-actualites > li > a{
    display: block;
    padding: 20px 10px;
    margin-bottom: -1px;
    border-bottom: 2px solid transparent;
    color: #757575;
    -webkit-transition: all .05s linear;
    -o-transition: all .05s linear;
    transition: all .05s linear;
}

.bloc-actualites .filtre-actualites > li > a:hover,
.bloc-actualites .filtre-actualites > li > a:focus {
    color: #333333;
    text-decoration: none;
    cursor: pointer !important;
}

.bloc-actualites .filtre-actualites > li.active > a {
    color: #ed3e49;
    border-bottom-color: #ed3e49;
}



.bloc-actualites .input-group>.form-control{
    background-color: white;
    color: black;
    border-color: white;
    border-radius: 5px;
}

.bloc-actualites .input-group>.form-control::placeholder{
    color: rgba(0, 0, 0, 0.596);
}

.bloc-actualites .input-group>.form-control:focus{
    box-shadow: none;
    color: black;
}

.bloc-actualites .btn-search {
    color: white !important;

}

.bloc-actualites .btn-search:hover {
    cursor: pointer;
    color: #da1a32 !important;
}

.bloc-actualites .input-group-append button {
    border-width: 0;
    z-index: 1;
    padding-left: 30%;
}

.bloc-actualites .material-icons {
    font-size: 24px;
}

.bloc-actualites a:hover{
    text-decoration:none;    
}

.bloc-actualites .widget.single-news {
    position: relative;
    cursor: pointer;
}

.bloc-actualites .widget.single-news:hover {
    box-shadow: 0 0 5px 5px #707070;
}

.bloc-actualites .widget.single-news .image img {
    display: block;
    width: 1280px;
    height: 720px;
    max-width: 1280px;
    max-height: 720px;
}



.bloc-actualites .widget.single-news .image .gradient {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: -webkit-linear-gradient(bottom, #000000 0%, rgba(0, 0, 0, 0.05) 100%);
    background-image: -moz-linear-gradient(bottom, #000000 0%, rgba(0, 0, 0, 0.05) 100%);
    background-image: -o-linear-gradient(bottom, #000000 0%, rgba(0, 0, 0, 0.05) 100%);
    background-image: linear-gradient(to top, #000000 0%, rgba(0, 0, 0, 0.05) 100%);
}

.bloc-actualites .widget.single-news .text-actualite {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 15%;
    text-align: center;
    font-size: 16px;
    color: white;
    text-align: justify;
    overflow: auto;
    height: fit-content;
}


.bloc-actualites .widget.single-news .details {
    position: absolute;
    bottom: 5%;
    left: 0;
    right: 0;
    padding-bottom: 5px;
    text-align: center;
}


.bloc-actualites .widget.single-news .details a{
    color: #fff;
    zoom: 1;
    -webkit-opacity: 0.5;
    -moz-opacity: 0.5;
    opacity: 0.5;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    filter: alpha(opacity=50);
}

.bloc-actualites .widget.single-news .details h3 {
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
    font-size: 24px;
}

.bloc-actualites .widget.single-news .details h3 a {
    color: #fff;
    zoom: 1;
    -webkit-opacity: 0.8;
    -moz-opacity: 0.8;
    opacity: 0.8;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    filter: alpha(opacity=80);
}

.bloc-actualites .widget.single-news .details h3 a { 
    cursor: pointer;
}

.bloc-actualites .widget.single-news .details time {
    color: rgba(255, 255, 255, 0.705);
}

/*.bloc-actualites .widget.single-news .details:hover time {
    position: relative;
    display: block;
    color: white;
    font-size: 13px;
    margin-bottom: -20px;
    -webkit-transition: all 350ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    -moz-transition: all 350ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    -o-transition: all 350ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    transition: all 350ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    zoom: 1;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: alpha(opacity=0);
}*/


#ctnheadMod{
    min-width: 100%;
}

#imgModal{
    min-width: 100%;
}

#btnXmodal{
    float: left;
    min-width: 100%;
}

@media (max-width: 767px) {
    .filtre-actualites {
      text-align: left;
      border-bottom: 0;
    }
    .filtre-actualites > li {
      display: block;
    }
    .filtre-actualites > li > a {
      padding: 10px 15px;
      margin-bottom: 10px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    .filtre-actualites > li.active > a {
      font-weight: 600;
    }
}

@media (max-width: 700px) {
    .bloc-actualites .search-bar {
        width: 100% !important;
    }
}

@media (max-width: 1280px){
    .bloc-actualites .widget.single-news .image img {
        width: 640px;
        height: 360px;
    }

    .container-fluid {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

@media (max-width: 640px){
    .bloc-actualites .widget.single-news .image img {
        width: 320px;
        height: 220px;
    }
    .bloc-actualites .widget.single-news .text-actualite {
        padding: 3%;
    }
}

@media (max-width: 320px){
    .bloc-actualites .widget.single-news .image img {
        width: 250px;
        height: 250px;
    }
    .bloc-actualites .widget.single-news .text-actualite {
        padding: 1%;
    }
}