.menu{
    width: 100%;
    background-image: -webkit-linear-gradient(left, #092d74, #061f50);
    color: white;
    font-family: 'ff-tisa-sans-web-pro', sans-serif;
    font-style: normal;
}

.logo {
    max-width: 100px;
}

.navbar-brand h5 {
    font-family: inherit;
    color: white;
    font-weight: 600;
    margin-top: 2.5%;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.menu a:hover {
    cursor: pointer;
}

.menu a {
    height: 100%;
    font-family: inherit;
    color: white;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
}

.nav-pills .nav-link {
    color: white;
}

menu a:hover {
    color:#da1a32 !important;
}

.nav-pills .nav-link.active, 
.nav-pills .show>.nav-link{
    background-color:white   !important;
    color: #da1a32 !important;
    transition: 0.1s;
}

.dropdown-menu {
    width: 100%;
    background-color: rgb(255, 255, 255) !important ;
}

.dropdown-item {
    color:  #da1a32 !important;
}

.dropdown-item:active {
    background-color:  whitesmoke!important;
}
