.container-fluid{
    height: 128px;
    width: 100%;
    background-image: -webkit-linear-gradient(left, #092d74, #061f50);
    color: white;
    font-family: "Fira Sans", sans-serif;
}

.bloc-logo {
    height: 100%;
    width: 128px;
}

#logo {
    width: 100%;
    height: 100%;
}

.container-fluid h1 {
    font-family: inherit;
    color: white;
    margin-top: 10px;
    text-align: center;
    font-weight: 600;
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.container-fluid a {
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
    font-size: 24px;
}

.nav-pills .nav-link {
    color: white;
}

a:hover {
    color:#da1a32 !important;
}

.nav-pills .nav-link.active, 
.nav-pills .show>.nav-link{
    background-color:white   !important;
    color: #da1a32 !important;
    transition: 0.1s;
}

.dropdown-menu {
    width: 100%;
    background-color: rgb(255, 255, 255) !important ;
}

.dropdown-item {
    color:  #da1a32 !important;
}

.dropdown-item:active {
    background-color:  whitesmoke!important;
}
